/compendio_ejercicios_estadistica.aux
/compendio_ejercicios_estadistica.dvi
/compendio_ejercicios_estadistica.log
/compendio_ejercicios_estadistica.out
/compendio_ejercicios_estadistica.ps
/compendio_ejercicios_estadistica.toc
/contrastes.dvi
/contrastes.log
/contrastes.ps
/ejercicios_estadistica_farmacia_2011-2012.aux
/ejercicios_estadistica_farmacia_2011-2012.dvi
/ejercicios_estadistica_farmacia_2011-2012.log
/ejercicios_estadistica_farmacia_2011-2012.out
/ejercicios_estadistica_farmacia_2011-2012.ps
/ejercicios_estadistica_farmacia_2011-2012.toc
/ejercicios_estadistica_farmacia_2012-2013.aux
/ejercicios_estadistica_farmacia_2012-2013.dvi
/ejercicios_estadistica_farmacia_2012-2013.log
/ejercicios_estadistica_farmacia_2012-2013.out
/ejercicios_estadistica_farmacia_2012-2013.ps
/ejercicios_estadistica_farmacia_2012-2013.toc
/ejercicios_estadistica_farmacia_2013-2014.aux
/ejercicios_estadistica_farmacia_2013-2014.dvi
/ejercicios_estadistica_farmacia_2013-2014.log
/ejercicios_estadistica_farmacia_2013-2014.out
/ejercicios_estadistica_farmacia_2013-2014.ps
/ejercicios_estadistica_farmacia_2013-2014.toc
/ejercicios_estadistica_fisioterapia_2010.aux
/ejercicios_estadistica_fisioterapia_2010.dvi
/ejercicios_estadistica_fisioterapia_2010.log
/ejercicios_estadistica_fisioterapia_2010.out
/ejercicios_estadistica_fisioterapia_2010.ps
/ejercicios_estadistica_fisioterapia_2010.toc
/ejercicios_estadistica_medicina_2010.aux
/ejercicios_estadistica_medicina_2010.dvi
/ejercicios_estadistica_medicina_2010.log
/ejercicios_estadistica_medicina_2010.out
/ejercicios_estadistica_medicina_2010.ps
/ejercicios_estadistica_medicina_2010.toc
/ejercicios_estadistica_psicologia_2010.aux
/ejercicios_estadistica_psicologia_2010.dvi
/ejercicios_estadistica_psicologia_2010.log
/ejercicios_estadistica_psicologia_2010.out
/ejercicios_estadistica_psicologia_2010.ps
/ejercicios_estadistica_psicologia_2010.toc
