/ejercicios_estadistica_farmacia_2012-2013.pdf
/ejercicios_estadistica_farmacia_2013-2014.pdf
/vad-2015-01-13.pdf
/ejercicios_estadistica_farmacia_2016-2017.pdf
/ejercicios_estadistica_farmacia_2016-2017.synctex.gz
